n8n/ShopMind AI - Agente Principal.json
{
  "name": "ShopMind AI - Agente Principal",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "shopmind",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "ignoreBots": false
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "01f81580-b101-4433-9893-e7109ead0126",
      "name": "Webhook",
      "webhookId": "278e9fdd-8c1d-4a3b-b554-b082d12a5483"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"respuesta\": $json.output } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        848,
        0
      ],
      "id": "6dbb7271-9647-4c34-91d0-e08c9d7a8dbd",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.mensaje }}",
        "options": {
          "systemMessage": "Eres ShopMind AI, el asistente virtual de una tienda online.\nTu personalidad es profesional, amable, paciente y clara.\nRespondes de forma breve y directa, como lo haría un empleado experto de la tienda.\n\nReglas importantes:\n- NUNCA inventes información sobre productos, precios, políticas o promociones.\n- Si no encuentras la respuesta en la información disponible, dilo honestamente y sugiere contactar al soporte humano.\n- Responde siempre en español, salvo que el cliente te escriba en otro idioma.\n- Antes de responder que no tienes información, SIEMPRE consulta primero la herramienta de búsqueda de documentos, incluso si la pregunta usa palabras distintas a las del documento (por ejemplo, \"no ha llegado\" puede relacionarse con \"retraso en el envío\")."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        288,
        0
      ],
      "id": "827694cf-0259-4860-b3dd-69a7932a760d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Usa esta herramienta para buscar información oficial de la tienda sobre productos, envíos, pagos, devoluciones, políticas y preguntas frecuentes antes de responder al cliente.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        480,
        224
      ],
      "id": "068665da-a36f-4530-b1e3-1ba10305c6d3",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "yEsjHxSmwfZ35V59",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "model": "command-r-plus-08-2024",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatCohere",
      "typeVersion": 1,
      "position": [
        64,
        256
      ],
      "id": "1894cf26-b187-4d6a-a4ce-472d28997e49",
      "name": "Cohere Chat Model",
      "credentials": {
        "cohereApi": {
          "id": "YM6NO9JJyplbdsZJ",
          "name": "Cohere account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "embed-english-v3.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        560,
        432
      ],
      "id": "de9498f8-cb0c-441e-8eaf-04efef798cfb",
      "name": "Embeddings Cohere",
      "credentials": {
        "cohereApi": {
          "id": "YM6NO9JJyplbdsZJ",
          "name": "Cohere account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        288,
        336
      ],
      "id": "2eea176a-096b-4a7d-bf68-ac4c33c9dc7d",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Cohere Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "98b15236-1477-4c79-83d3-fa1b01e51544",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4df037354fdd7ce27572e18e1cfe9eedeb5fecf46d068a7519ac56c68148af6b"
  },
  "nodeGroups": [],
  "id": "aRM1aUWruqMLMbqn",
  "tags": []
}